{% extends 'base.html.twig' %}

{% block title %} Create a new Record | {{ parent() }} {% endblock %}

{% block body %}
<div class="container-fluid">
        <h1>{{ title }}</h1>
    <div>
        Tracks:
    
        <ul>
            {% for track in tracks %}
               <div class="song-list" {{ stimulus_controller('song-controls',{
                   infoUrl: path('api_songs_get_one', {id: loop.index})
               
               }) }}>
                   <div class="d-flex mb-3">
                       <a href="#" {{ stimulus_action('song-controls', 'play') }}>
                           <i class="fas fa-play me-3"></i>
                       </a>
                   </div>
               </div>
            {% endfor %}
        </ul>
    </div>
    <div {{ stimulus_controller('hello') }}></div>
</div>
{% endblock %}